
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url('Images/Black-Animation-Background.svg');
    background-size: cover;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a:hover { text-decoration: none;}
a:focus { text-decoration: none;}
a:active { text-decoration: none;}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
    float: left;
    min-height: 1px;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%}
    .col-2 {width: 16.66%}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .col-3.nav
    {
        text-align: center;
        padding-top: 1% !important;
        padding-bottom: 1% !important;
    }
}

.col-4.nav{
    position: fixed;
}

.col-3.nav
{
    font-family: 'ArchivoNarrowRegular';
    font-size: large;

    color: rgb(255, 255, 255);

    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    position: relative;
}

.col-3.nav::before
{
    position: absolute; /* make the pseudo-element an absolutely positioned element */
    content: ""; /* insert an empty content */
    
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-width: thick;
    box-sizing: border-box;
    border-bottom-style: solid;
    border-color: white;

    transform: scaleX(0);  
    transition: .75s ease-out;

    z-index: -1;
}

.col-3.nav:hover::before {
  transform: scaleX(1);
}

.col-4.center{
    height: 650px;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
}
  
iframe{
    margin: auto;
}

.col-12.CenterTop
{
    height: 40vh;
}

.NameB{
    font-family: 'ArchivoNarrowRegular';
    font-weight: bold;
    font-style: normal; 
    font-size: 6em;
    color: white;
    text-align: center;
    opacity: 0;
    transform: translateY(20vh);
    transition: opacity 1.5s ease-in-out, transform 1.75s ease-out;
}

.NameB.visible {
  opacity: 1;
  transform: none;
}

.certs{
    padding-top: 10%;
}