/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	color: white;
	font-family: Oswald !important;
}

.col-jq-1 {
	flex: 0 0 auto;
	width: 12%;
}

.col-jq-2 {
	flex: 0 0 auto;
	width: 2%;
}

.nav-item {
	display: block;
	float: left;
	position: relative;
	text-align: center;
}

.nav-item::before {
	content: "";
	position: absolute;

	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	border-width: thick;
	box-sizing: border-box;
	border-bottom-style: solid;
	border-color: cyan;

	transition: transform .25s;
	transform: scaleX(0);

	z-index: -1;
}

.nav-item:hover::before {
	transform: scaleX(100%);
}

.nav-link {
	color: rgb(236, 236, 236) !important;
	font-size: 1.5em !important;
}

.nav-link:hover {
	color: white !important;
}

.backgroundColor1 {
	background-color: #1d1d1d;
}

.backgroundColor2 {
	background-color: black;
}

.backgroundColor3{
	background-color: #171717;
}

.color-cyan {
	color: cyan;
}

.img-icon {
	max-width: 40% !important;
}

.NameB {
	opacity: 0;
	transform: translateY(80%);
	transition: opacity .75s ease-in-out, transform .75s ease-out;
}

.NameB>h2 {
	font-size: 5em;
}

.visible {
	opacity: 1;
	transform: none;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
	max-width: 400px !important;
}

.hidden2 {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(100%);
	transition: all 1s;
	font-size: 1.2em;
	width: 80%;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0%);
}

.center-con {
	text-align: center !important;
	align-content: center !important;
	justify-content: center !important;
	align-items: center !important;
	display: flex !important;
}

.navbar-bgoff::before {
	position: absolute;
	background-color: #131313 !important;
	opacity: 1;
	width: 100%;
	height: 100%;
	content: "";
	z-index: -1;
	transition: 1s;
	width: 0%;
}

.navbar-bgon::before {
	width: 100%;
}

.navbar {
	padding: unset !important;
}

.vh-20 {
	height: 20vh;
}

.box-height{
	height: 70vh;
}

.box-background{
	height: 60%;
	width: 80%;
	background-color: red;
	background-image: "Assets/c.png";
	filter: blur(1px);
	border-radius: 5%;
	transition: .25s;

}

.box-background:hover{
	transform: scale(110%)!important;
}